In [1]:
import pandas as pd

In [9]:
brew = "brewerydbAPI/Output/brewerydb_final.csv"

In [10]:
brewdb = pd.read_csv(brew)
brewdb.head()

,Brewery Name,City,State,Country,Year Established,Still in Business?,Closed?
0,4 Seasons Brewery,Lapeer,Michigan,UNITED STATES,2014,Y,N
1,40 North Brewing,Boulder,Colorado,UNITED STATES,2011,Y,N
2,4KD Crick Brewery,Defiance,Ohio,UNITED STATES,2016,Y,N
3,7 Mile Brewery,Rio Grande,New Jersey,UNITED STATES,2016,Y,N
4,810 Meadworks,Medina,New York,UNITED STATES,2014,Y,N

In [13]:
brew_db = brewdb.groupby(["State"])
brew_db.count().head()

,Brewery Name,City,Country,Year Established,Still in Business?,Closed?
State,,,,,,
Alabama,5,5,5,5,5,5
Alaska,2,2,2,2,2,2
Arizona,10,10,10,10,10,10
Arkansas,1,1,1,1,1,1
California,70,70,70,70,70,70

In [21]:
brew_c = brewdb.loc[brewdb["Closed?"] == "Y"]
brew_c

,Brewery Name,City,State,Country,Year Established,Still in Business?,Closed?
33,Beer Army,New Bern,North Carolina,UNITED STATES,2015,N,Y
36,Beryl's Beer Co.,Denver,Colorado,UNITED STATES,2013,N,Y
47,Bravo Zulu,N Williamsburg,Michigan,UNITED STATES,2013,N,Y
111,Ursula Brewery,Aurora,Colorado,UNITED STATES,2014,N,Y
127,Beach City Brewery,Huntington Beach,California,UNITED STATES,2014,N,Y
138,Rock Bridge Brewing Company,Columbia,Missouri,UNITED STATES,2012,Y,Y
139,Bog Water Brewing Co.,Westport,Washington,UNITED STATES,2012,N,Y
157,Little Egypt Beer,Ava,Illinois,UNITED STATES,2012,N,Y
160,Cobra Brewing Company,Lewisville,Texas,UNITED STATES,2013,N,Y
167,Owl's Orchard Brewery,Queen Creek,Arizona,UNITED STATES,2013,N,Y
177,Sanctuary Brewing Co.,Indianapolis,Indiana,UNITED STATES,2015,N,Y
191,Tanglewood Branch Beer Co.,Fayetteville,Arkansas,UNITED STATES,2011,N,Y
193,Mu Brewery,Aurora,Colorado,UNITED STATES,2014,N,Y
205,Kilted Dragon,Garden City,Idaho,UNITED STATES,2011,N,Y
207,Ornery Beer Company,Woodbridge,Virginia,UNITED STATES,2015,N,Y
218,Sandia Chile Grill & Brewery,Albuquerque,New Mexico,UNITED STATES,2012,N,Y
221,Sandia Chile Grill & Brewery,Albuquerque,New Mexico,UNITED STATES,2012,N,Y
226,Grateful Hands Brewing,Cabot,Vermont,UNITED STATES,2012,N,Y
243,Hosanna Brewing Company,Fuquay-Varina,North Carolina,UNITED STATES,2012,N,Y
296,New Mexico Craft Brewing Company,Albuquerque,New Mexico,UNITED STATES,2012,N,Y
301,Twelve Bar Brews,Woodinville,Washington,UNITED STATES,2012,N,Y
302,51 North Brewing Company,Lake Orion,Michigan,UNITED STATES,2013,N,Y
310,Westport Brewing Company,Westport,Washington,UNITED STATES,2011,N,Y
320,Aloha Beer Company,Honolulu,Hawaii,UNITED STATES,2012,N,Y
324,Bull Jagger Brewing Company,Portland,Maine,UNITED STATES,2011,N,Y
330,Neil House Brewery,Columbus,Ohio,UNITED STATES,2009,N,Y
357,Lost Highway Brewing Company,Centennial,Colorado,UNITED STATES,2014,N,Y
364,Stapleton Brewing,Denver,Colorado,UNITED STATES,2011,N,Y
368,Raices Brewing Co.,Boulder,Colorado,UNITED STATES,2016,N,Y
384,Tow Yard Brewing Co.,Indianapolis,Indiana,UNITED STATES,2014,N,Y
392,Beaver View Brew Co,Albion,Nebraska,UNITED STATES,2010,N,Y
398,Black Dragon Brewery,Woodland,California,UNITED STATES,2012,N,Y
445,New Boundary,Cheney,Washington,UNITED STATES,2015,N,Y
463,Neighborhood Beer Co.,Exeter,New Hampshire,UNITED STATES,2015,N,Y
472,North Rim Brewing,Bend,Oregon,UNITED STATES,2013,Y,Y
473,Northern Neck Brewing Compny,Reedville,Virginia,UNITED STATES,2018,Y,Y
486,Six Row Brewing Company,St. Louis,Missouri,UNITED STATES,2009,N,Y
492,OUTLAW Brewery,Lake Havasu City,Arizona,UNITED STATES,2010,N,Y
506,Powder Keg Brewing,Niwot,Colorado,UNITED STATES,2014,N,Y
533,Seven Stills Brewery and Distillery,San Francisco,California,UNITED STATES,2012,Y,Y
552,Twisted Manzanita Ales,San Diego,California,UNITED STATES,2010,Y,Y