In [2]:
# Import Dependencies

import pandas as pd
import numpy as np

In [3]:
# Define File Path for CSVs

brew1 = "Output/brewery_data_page001-014.csv"
brew2 = "Output/brewery_data_page015-029.csv"
brew3 = "Output/brewery_data_page030-044.csv"
brew4 = "Output/brewery_data_page045-059.csv"
brew5 = "Output/brewery_data_page060-074.csv"
brew6 = "Output/brewery_data_page075-089.csv"
brew7 = "Output/brewery_data_page090-104.csv"
brew8 = "Output/brewery_data_page105-119.csv"
brew9 = "Output/brewery_data_page120-134.csv"
brew10 = "Output/brewery_data_page135-149.csv"
brew11 = "Output/brewery_data_page150-164.csv"
brew12 = "Output/brewery_data_page165-179.csv"
brew13 = "Output/brewery_data_page180-194.csv"
brew14 = "Output/brewery_data_page195-209.csv"
brew15 = "Output/brewery_data_page210-224.csv"
brew16 = "Output/brewery_data_page225-239.csv"
brew17 = "Output/brewery_data_page240-254.csv"
brew18 = "Output/brewery_data_page255-260.csv"
brew19 = "Output/brewery_data_page261.csv"

In [4]:
# Read in CSVs

brewdf1 = pd.read_csv(brew1)
brewdf2 = pd.read_csv(brew2)
brewdf3 = pd.read_csv(brew3)
brewdf4 = pd.read_csv(brew4)
brewdf5 = pd.read_csv(brew5)
brewdf6 = pd.read_csv(brew6)
brewdf7 = pd.read_csv(brew7)
brewdf8 = pd.read_csv(brew8)
brewdf9 = pd.read_csv(brew9)
brewdf10 = pd.read_csv(brew10)
brewdf11 = pd.read_csv(brew11)
brewdf12 = pd.read_csv(brew12)
brewdf13 = pd.read_csv(brew13)
brewdf14 = pd.read_csv(brew14)
brewdf15 = pd.read_csv(brew15)
brewdf16 = pd.read_csv(brew16)
brewdf17 = pd.read_csv(brew17)
brewdf18 = pd.read_csv(brew18)
brewdf19 = pd.read_csv(brew19)

In [5]:
# Merge CSVs

brewerydf = pd.concat((brewdf1, brewdf2, brewdf3, brewdf4, brewdf5, brewdf6, brewdf7, brewdf8,
                       brewdf9, brewdf10, brewdf11, brewdf12, brewdf13, 
                        brewdf14, brewdf15, brewdf16, brewdf17, brewdf18, 
                        brewdf19), join="outer")
brewerydf.head()

,Brewery Name,City,State,Country,Year Established,Still in Business?,Closed?
0,4 Seasons Brewery,Lapeer,Michigan,UNITED STATES,2014,Y,N
1,40 North Brewing,Boulder,Colorado,UNITED STATES,2011,Y,N
2,4KD Crick Brewery,Defiance,Ohio,UNITED STATES,2016,Y,N
3,Karl Strauss Brewing Company,San Diego,California,UNITED STATES,1989,Y,N
4,7 Cent Brewery,Gisborne South,Victoria,AUSTRALIA,2012,Y,N

In [6]:
## Clean up the Data Frame

# Initial count
brewerydf.count()

Brewery Name          1065
City                  1065
State                 1065
Country               1065
Year Established      1065
Still in Business?    1065
Closed?               1065
dtype: int64

In [7]:
# Remove non-USA Breweries

usabrewerydf = brewerydf.loc[(brewerydf["Country"] == "UNITED STATES")]
usabrewerydf.count()

Brewery Name          835
City                  835
State                 835
Country               835
Year Established      835
Still in Business?    835
Closed?               835
dtype: int64

In [8]:
# Remove Breweries before 2009

brewerydf2009 = usabrewerydf.loc[(usabrewerydf["Year Established"] >= 2009)]
brewerydf2009.count()

Brewery Name          563
City                  563
State                 563
Country               563
Year Established      563
Still in Business?    563
Closed?               563
dtype: int64

In [9]:
# Replace "null" with NaN values

#brewerydfnull = brewerydf2009.replace(['null'], np.nan)
#brewerydfnull.count()

In [10]:
# Drop all rows with missing information

#cleanbrewerydf = brewerydfnull.dropna(axis=0, how='any')
#cleanbrewerydf.count()

In [12]:
final_df = brewerydf2009
final_df.head()

,Brewery Name,City,State,Country,Year Established,Still in Business?,Closed?
0,4 Seasons Brewery,Lapeer,Michigan,UNITED STATES,2014,Y,N
1,40 North Brewing,Boulder,Colorado,UNITED STATES,2011,Y,N
2,4KD Crick Brewery,Defiance,Ohio,UNITED STATES,2016,Y,N
6,7 Mile Brewery,Rio Grande,New Jersey,UNITED STATES,2016,Y,N
7,810 Meadworks,Medina,New York,UNITED STATES,2014,Y,N

In [13]:
# Export Merged & Cleaned CSV

final_df.to_csv("Output/brewerydb_final.csv",
                   encoding="utf-8", index=False, header=True)

In [14]:
brew_db = final_df.groupby(["State"])
brew_db.count().head()

,Brewery Name,City,Country,Year Established,Still in Business?,Closed?
State,,,,,,
Alabama,5,5,5,5,5,5
Alaska,2,2,2,2,2,2
Arizona,10,10,10,10,10,10
Arkansas,1,1,1,1,1,1
California,70,70,70,70,70,70

In [15]:
brew_c = final_df.loc[final_df["Closed?"] == "Y"]
brew_c

,Brewery Name,City,State,Country,Year Established,Still in Business?,Closed?
68,Beer Army,New Bern,North Carolina,UNITED STATES,2015,N,Y
75,Beryl's Beer Co.,Denver,Colorado,UNITED STATES,2013,N,Y
98,Bravo Zulu,N Williamsburg,Michigan,UNITED STATES,2013,N,Y
48,Ursula Brewery,Aurora,Colorado,UNITED STATES,2014,N,Y
17,Beach City Brewery,Huntington Beach,California,UNITED STATES,2014,N,Y
37,Rock Bridge Brewing Company,Columbia,Missouri,UNITED STATES,2012,Y,Y
38,Bog Water Brewing Co.,Westport,Washington,UNITED STATES,2012,N,Y
31,Little Egypt Beer,Ava,Illinois,UNITED STATES,2012,N,Y
39,Cobra Brewing Company,Lewisville,Texas,UNITED STATES,2013,N,Y
1,Owl's Orchard Brewery,Queen Creek,Arizona,UNITED STATES,2013,N,Y
17,Sanctuary Brewing Co.,Indianapolis,Indiana,UNITED STATES,2015,N,Y
11,Tanglewood Branch Beer Co.,Fayetteville,Arkansas,UNITED STATES,2011,N,Y
13,Mu Brewery,Aurora,Colorado,UNITED STATES,2014,N,Y
38,Kilted Dragon,Garden City,Idaho,UNITED STATES,2011,N,Y
41,Ornery Beer Company,Woodbridge,Virginia,UNITED STATES,2015,N,Y
23,Sandia Chile Grill & Brewery,Albuquerque,New Mexico,UNITED STATES,2012,N,Y
29,Sandia Chile Grill & Brewery,Albuquerque,New Mexico,UNITED STATES,2012,N,Y
39,Grateful Hands Brewing,Cabot,Vermont,UNITED STATES,2012,N,Y
2,Hosanna Brewing Company,Fuquay-Varina,North Carolina,UNITED STATES,2012,N,Y
57,New Mexico Craft Brewing Company,Albuquerque,New Mexico,UNITED STATES,2012,N,Y
5,Twelve Bar Brews,Woodinville,Washington,UNITED STATES,2012,N,Y
6,51 North Brewing Company,Lake Orion,Michigan,UNITED STATES,2013,N,Y
19,Westport Brewing Company,Westport,Washington,UNITED STATES,2011,N,Y
37,Aloha Beer Company,Honolulu,Hawaii,UNITED STATES,2012,N,Y
44,Bull Jagger Brewing Company,Portland,Maine,UNITED STATES,2011,N,Y
51,Neil House Brewery,Columbus,Ohio,UNITED STATES,2009,N,Y
34,Lost Highway Brewing Company,Centennial,Colorado,UNITED STATES,2014,N,Y
45,Stapleton Brewing,Denver,Colorado,UNITED STATES,2011,N,Y
49,Raices Brewing Co.,Boulder,Colorado,UNITED STATES,2016,N,Y
27,Tow Yard Brewing Co.,Indianapolis,Indiana,UNITED STATES,2014,N,Y
38,Beaver View Brew Co,Albion,Nebraska,UNITED STATES,2010,N,Y
2,Black Dragon Brewery,Woodland,California,UNITED STATES,2012,N,Y
16,New Boundary,Cheney,Washington,UNITED STATES,2015,N,Y
5,Neighborhood Beer Co.,Exeter,New Hampshire,UNITED STATES,2015,N,Y
24,North Rim Brewing,Bend,Oregon,UNITED STATES,2013,Y,Y
25,Northern Neck Brewing Compny,Reedville,Virginia,UNITED STATES,2018,Y,Y
49,Six Row Brewing Company,St. Louis,Missouri,UNITED STATES,2009,N,Y
61,OUTLAW Brewery,Lake Havasu City,Arizona,UNITED STATES,2010,N,Y
88,Powder Keg Brewing,Niwot,Colorado,UNITED STATES,2014,N,Y
25,Seven Stills Brewery and Distillery,San Francisco,California,UNITED STATES,2012,Y,Y
58,Twisted Manzanita Ales,San Diego,California,UNITED STATES,2010,Y,Y